
MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=tech_assesment
MYSQL_USER=appuser
MYSQL_PASSWORD=your_app_password

DB_HOST=localhost
DB_PORT=3306

# Generate dengan: openssl rand -base64 32
JWT_SECRET=your_base64_encoded_secret_here
JWT_EXPIRATION_MS=86400000
